{% load static %}

<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Despesas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'usuarios/icon_site.png' %}">
  </head>


  <nav class="navbar" style="background: linear-gradient(to right, #3B3C49, #55964A);">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">
        <img src="{% static "usuarios/logo_clara.png" %}" alt="Logo" width="100" height="24" class="d-inline-block align-text-top">
      </a>
      <ul class="nav justify-content-end bg-sucess rounded-circle">
        <button type="button" class="btn text-light" onclick="returnToDashboard()">Voltar</button>
      </ul>
    <script>
      function returnToDashboard() {
        window.location.href = "{% url 'dashboard' %}";
      }
    </script>
    </div>
  </nav>
  

<body>
  <div class="container mt-5">
    <div class="row justify-content-center ">
      <div class="col-md-6"> 
        <div class="container border bg-light border-succes rounded">
          <h2 class="text-center">Adicione suas despesas</h2><br>
          <form method="post" class="text-center">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-block" style="background-color: #3B3C49; color: white;">Adicionar</button><br><br>
          </form>
        </div>
        <br><br>
        <h2 class="text-center">Tabela de despesas</h2>
        <table class="table container text-center">
        <thead>
            <tr>
              <th>Descrição</th>
              <th>Valor</th>
              <th>Data</th>
              <th>Categoria</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            {% for despesa in despesas %}
              <tr>
                <td>{{ despesa.descricao }}</td>
                <td>{{ despesa.valor }}</td>
                <td>{{ despesa.data }}</td>
                <td>{{despesa.categoria}}</td>
                <td>    
                  <a href="{% url 'delete_despesa' despesa.id %}" class="btn btn-danger">Excluir</a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="4" class="text-center">Nenhuma despesa cadastrada.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="text-center">
          <ul class="pagination">
              {% if despesas.has_previous %}
                  <li class="page-item"><a class="page-link" style="background-color: #3B3C49; color: white;" href="?page=1"><</a></li>
                  <li class="page-item"><a class="page-link" style="background-color: #3B3C49; color: white;" href="?page={{ despesas.previous_page_number }}">></a></li>
              {% endif %}
      
              <li class="page-item active"><span class="page-link" style="background-color: #3B3C49; color: white;">Página {{ despesas.number }} de {{ despesas.paginator.num_pages }}</span></li>
      
              {% if despesas.has_next %}
                  <li class="page-item"><a class="page-link" style="background-color: #3B3C49; color: white;" href="?page={{ despesas.next_page_number }}"><</a></li>
                  <li class="page-item"><a class="page-link" style="background-color: #3B3C49; color: white;" href="?page={{ despesas.paginator.num_pages }}">></a></li>
              {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
