{% load static %}

<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'usuarios/icon_site.png' %}">
  </head>

<nav class="navbar" style="background: linear-gradient(to right, #3B3C49, #55964A);">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">
      <img src="{% static "usuarios/logo_clara.png" %}" alt="Logo" width="100" height="24" class="d-inline-block align-text-top">
    </a>
    <ul class="nav justify-content-end bg-sucess rounded-circle">
      <button type="button" class="btn text-light"  onclick="returnToDashboard()">Voltar</button>
    </ul>
  <script>
    function returnToDashboard() {
      window.location.href = "{% url 'dashboard' %}";
    }
  </script>
  </div>
</nav>

  <body class="text-center">
    <br>
    <h2>Metas Financeiras</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-block" style="background-color: #3B3C49; color: white;">Adicionar Meta</button>
    </form>
    <br>
    
    <ul class="list-unstyled">
        {% for meta in metas %}
        <li>
            <h3>{{ meta.nome }}</h3>
            <p>{{ meta.descricao }}</p>
            <p>Valor da Meta: R$ {{ meta.valor_meta }}</p>
            <p>Data de Vencimento: {{ meta.data_vencimento }}</p>
            <p>Tipo de Prazo: {{ meta.tipo_prazo }}</p>
        </li>
        {% empty %}
        <li>Nenhuma meta definida.</li>
        {% endfor %}
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>